.login{
    /* background-image: url("login1.png"); */
    /* background: linear-gradient(30deg, #00FFFF 0%, #FF0081 100%); */
    background-color: #1D1F22;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.default{
    background-color: ghostwhite;
}